<html>
		<body>
			<table border=1>
				<tr>
					<td>ID</td>
					<td>Pais</td>
				</tr>
				<%for(var i=0; i < lista.length; i++) {%>
					<tr>
						<td><%=lista[i].id%></td>
						<td><%=lista[i].name_pt_br%></td>
					</tr>
				<%}%>	
			</table>
		</body>
</html>